

<div class="team">

  <div class="portraits">
    <span class="us"><%= image_tag 'chris.jpeg' %></span>
    <span class="us"><%= image_tag 'joann.jpeg' %></span>
    <span class="us"><%= image_tag 'jeff.jpeg' %></span>
  </div>

</div>
