
<body>

  <figure>
    <!-- CHANGE IMAGE URL HERE IF YOU WANT A BACKGROUND IMAGE-->
    <figcaption style="background-image: url('//avatars1.githubusercontent.com/u/13121620?v=3&s=400')">
      <h2>LEAD LOGIC DEVELOPER</h2>
      <h1>Christopher Booty</h1>
      <p>
      Christopher is a veteran coder with over 30 days experience. Born with incredible critical thinking skills and a keen eye for problem solving he was a sure choice to be the lead Senior Developer for WynCal.
      </p>
    </figcaption>
  </figure>

   <figure>
    <!-- CHANGE IMAGE URL HERE IF YOU WANT A BACKGROUND IMAGE-->
    <figcaption style="background-image: url('//avatars3.githubusercontent.com/u/12835141?v=3&s=400')">
      <h2>LEAD DESIGNER</h2>
      <h1>Joann Kim</h1>
      <p>
      Joann is a World-Renowned Designer hailing from South Florida. Ms. Kim is known for constantly striving for perfection and her distinguished color palette.
      </p>
    </figcaption>
  </figure>

   <figure>
    <!-- CHANGE IMAGE URL HERE IF YOU WANT A BACKGROUND IMAGE-->
    <figcaption style="background-image: url('//avatars3.githubusercontent.com/u/13087850?v=3&s=400')">
      <h2>THE DUDE</h2>
      <h1>Jeff Ginsberg</h1>
      <p>
        Wyncode Team's require 3 people so we got this guy. He completes the Ultimate Trio!
      </p>
    </figcaption>
  </figure>

</body>
