/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  /* the background image is fixed so it doesn't scroll
  with the contents of the page. it is also on repeat because it is
  a tile.  */

 body {
   background-image: url("/images/abstract-background.jpg");
   background-attachment: fixed;
   background-size: cover;
 }

    /* modify the text header "WynCal" on the menu bar  */

.header p {
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 7em;
    font-weight: bold;
    text-align: left;
    padding-left: 2.75cm;
    /*padding-top: -1.5em;*/
    float: left;
    margin-right: 3.0em;
}

    /* modify the header bar; gradient colors, padding, height/width  */

.header {
  height: 13.5em;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1.95em;
  background: -webkit-linear-gradient(left,rgba(69, 185, 158, 0.45), rgba(69, 164, 136, 0.65)); /*Safari 5.1-6*/
  background: -o-linear-gradient(left,rgba(69, 185, 158, 0.45), rgba(69, 164, 136, 0.65)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(left,rgba(69, 185, 158, 0.45), rgba(69, 164, 136, 0.65)); /*Fx 3.6-15*/
  background: linear-gradient(to left,rgba(69, 185, 158, 0.45), rgba(69, 185, 158, 0.75)); /*Standard*/
  border-radius: 3.75em 4.5em;
}


    /* modify the '@'symbol icon next to WynCal header   */

    .header .fa-at {
      margin-top: .4em;
      color: white;
      font-size: 8em;
      font-weight: bold;
      width: 1em;
      opacity: 1;
      padding-left: 2.5em;
    }

    .header .fa-at:link {
      text-decoration: none;
      font-weight: bold;
    }
    .header .fa-at:visited {
      text-decoration: none;
      font-weight: bold;
    }
    .header .fa-at:hover {
      opacity: 0.75;
      font-weight: bold;
    }
    .header .fa-at:active {
      text-decoration: none;
      font-weight: bold;
    }

    /* Modify the HOME icon next to WynCal
    header on the About Team page  */

    .header .fa-home {
      margin-top: .4em;
      color: white;
      font-size: 8em;
      font-weight: bold;
      width: 1em;
      opacity: 1;
      padding-right: 0.75em;
    }

    .header .fa-home:link {
      text-decoration: none;
      font-weight: bold;
    }
    .header .fa-home:visited {
      text-decoration: none;
      font-weight: bold;
    }
    .header .fa-home:hover {
      opacity: 0.75;
      font-weight: bold;
    }
    .header .fa-home:active {
      text-decoration: none;
      font-weight: bold;
    }

    /* modify the header icon links   */

    .header a:link {
      text-decoration: none;
    }

    .header a:visited {
      text-decoration: none;
    }

    .header a:hover {
      background-color: inherit;
      opacity: 1;
    }
    .header a:active {
      text-decoration: none;
    }

    /* Modify the contents of the table
    including the text and table modifications  */

  table {
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.5em;
    margin: auto;
    /*background-color: rgba(69, 69, 72, 0.8);
    border: 3.5em;
    width: 50em;*/
    padding: 0.5em;
    line-height: 5em;
    word-spacing: 1.5em;
  }

  /* modify the "List of Upcoming Events"   */

  .upcoming {
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 2.5em;
  margin: auto;
  border: 4.5em;
  }

  .events {
    background-color: rgba(66,209,189, 0.55);
    border-radius: 14.5em 20em;
    padding: 2em;
  }

  .events p {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 1.75em;
    line-height: 1.5em;
    text-align: center;
  }

  /* modify the appearance of the Events icon link */

  .events .fa-align-left {
    color: white;
    font-size: 1.2em;
  }

  .events .fa-align-left:link {
    text-decoration: none;
  }
  .events .fa-align-left:visited {
    text-decoration: none;
  }
  .events .fa-align-left:hover {
    color: rgba(0, 0, 0, 0.8);
    /*background-color: rgba(0, 0, 0, 0.8);*/
  }
  .events .fa-align-left:active {
    text-decoration: none;
  }


  /* this modifies the appearance of the
   previous/next page links  */

  .prevnext {
     font-family: 'Lato', sans-serif;
     font-size: 2.75em;
     text-align: center;
   }

  .prevnext a:link {
    color: #FFFF19;
    font-weight: bold;
    text-decoration: none;
  }

  .prevnext a:visited {
    color: #FFFF19;
    font-weight: bold;
    text-decoration: none;
  }

  .prevnext a:hover {
    color: #CCFF40;
    font-weight: bold;
    text-decoration: none;
    background-color: inherit;
  }

  .prevnext a:active {
    color: #FFFF19;
    font-weight: bold;
    text-decoration: none;
  }



  /* this is to modify the "Create a New Event" link
  at the bottom of the page.   */

  .newevent {
    font-family: 'Lato', sans-serif;
    font-size: 1.75em;
    text-align: center;
  }

  .newevent a:link {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
  }

  .newevent a:visited {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
  }

  .newevent a:hover {
    background-color: inherit;
    color: #FFD952;
    font-weight: bold;
    opacity: 1;
  }

  .newevent a:active {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
  }


  .portaits {
  height: 80%;
  width: 80%;
  border: solid black;
  }

  .us {
    width: 30%;
    height: 30%;
    margin-top: .2em;
    margin-left: .2em;
    border-radius: 12.5em;
  }

  .center {
    text-align: center;
  }

          /* Modify div for the comment submission at the bottom of the event show page */

.comment_input {
  text-align: center;
}
